<div>
  <div style="width:200px;">
    <br>Bardak Boyutu <br>
    <select>
      <option value="" disabled selected hidden>Lütfen Bardak Boyutunu Seçiniz</option>
      <option value="1">Küçük</option>
      <option value="2">Orta</option>
      <option value="3">Büyük</option>
    </select>
  </div>
  
  <div style="width:200px;">
    <br>Süt Miktarı <br>
    <select>
      <option value="" disabled selected hidden>Lütfen Süt Miktarını Seçiniz</option>
      <option value="NONE">Sütsüz</option>
      <option value="ONESHOT">Az</option>
      <option value="TWOSHOTS">Orta</option>
      <option value="THREESHOTS">Bol</option>
    </select>
  </div>
  
  <div style="width:200px;">
    <br>Kahve Türü<br>
    <select>
      <option value="" disabled selected hidden>Lütfen Bardak Boyutunu Seçiniz</option>
      <option value="1">Küçük</option>
      <option value="2">Orta</option>
      <option value="3">Büyük</option>
    </select>
  </div>
</div>